@{
    ViewData["Title"] = "First Controller - Index2";
    Layout = "_Layout";

    <h2>First Controller - Index3</h2>
    <p>This is the content of the Index3 action in the FirstController.</p>
}