@{
    ViewData["Title"] = "Second Controller - Index1"; // Dynamically sets the title for this view
    Layout = "_Layout"; // Specifies to use the _Layout.cshtml layout
}

<h2>Second Controller - Index1</h2>
<p>This is the content of the Index1 action in the SecondController.</p>
