
.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
/* Ensure full height for the app */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/* Footer stays at the bottom, but only when page content is less */
footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative; /* Change from fixed to relative */
  bottom: 0;
  left: 0;
  margin-top: auto; /* Pushes footer down */
}
